@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aaaa39;
  --navColor3: #aa7439;
  --navColor4: #27586b;
  --navColor5: #582a72;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: Nunito, sans-serif;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each nav item */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each nav item */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  color: var(--primaryColor);
}

h1 {
  font-size: 2.2em;
}

section#home {
  background-image: url("https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center center;
}

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#home .title-block {
  position: absolute;
  top: 35%;
  margin: 0 10px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.7);
}

section#about {
  background-color: var(--navColor2); 
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 30px;
}

.picture-container {
  height: 30%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

section#about img {
  height: 300px;
  width: auto;
  border-radius: 15%;
  margin: 10px 20px;
}

h5 {
  margin: 10px 25%;
  font-size: 1.2em;
}

section#projects {
  background-color: var(--navColor3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.projects-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.project {
  display: flex;
  flex-direction: row;
  width: 75vw;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 20px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
}

.text-container {
  width: 50%;
}

.project-title {
  font-size: 1.6em;
  font-weight: bold;
  margin: 15px 10px;
}

.project-subtitle {
  font-style: italic;
  margin: 10px 10px;
}

.description {
  padding-right: 15px;
}

button.link {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid var(--navColor1);
  font-size: 15px;
  outline: none;
  background: whitesmoke;
  color: var(--navColor1);
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

button.link:hover {
  filter: brightness(120%);
  background: var(--navColor1);
  color: whitesmoke;
}

a.link-button {
  text-decoration: none;
}

a.link-button:hover {
  color: whitesmoke;
}

.project-picture-container {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.project-picture {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.6);
}

section#skills {
  background-color: var(--navColor4);
  display: flex;
  flex-direction: column;
}

/* Contact Section */

section#contact {
  background-color: var(--navColor5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fab, .far {
  font-size: 100px;
  margin: 10px 25px;
  cursor: pointer;
  color: rgba(245, 245, 245, 0.589);
}

.fab:hover, .far:hover {
  color: white;
}

h6 {
  font-size: 15px;
  margin: 0.25em 2em;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40%;
}

.row1 {
  width: 50%;
}

.row2 {
  width: 50%;
}

.skills-rows {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 800px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  section#about img {
    height: 200px;
    width: auto;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }

  h5 {
    margin: 10px 5%;
    font-size: 0.8em;
  }

  .project {
    flex-direction: column;
    width: 90vw;
  }

  .text-container {
    width: 100%;
  }
  
  .project-picture-container {
    width: 100%;
    margin-top: 20px;
  }

  .project-picture {
    height: 260px;
    width: 300px;
  }

  .skill {
    padding-left: 10%;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }
}